
.home_banner_area {
    z-index: 1;
    background: white;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover; }
    .home_banner_area .banner_inner {
      width: 100%; }
      
      .home_banner_area .banner_inner .col-lg-6 {
        vertical-align: super;
        align-self: center; }
      .home_banner_area .banner_inner .banner_content {
        text-align: left;
        color: #222222; }
        .home_banner_area .banner_inner .banner_content h5 {
          font-size: 14px;
          font-family: "Roboto", sans-serif;
          letter-spacing: 2.1px;
          margin-bottom: 20px; }
        .home_banner_area .banner_inner .banner_content h2 {
          margin-top: 0px;
          font-size: 48px;
          font-weight: bold;
          font-family: "Heebo", sans-serif;
          line-height: 54px;
          text-transform: uppercase;
          margin-bottom: 20px; }
        .home_banner_area .banner_inner .banner_content p {
          color: #777777;
          font-family: "Roboto", sans-serif;
          max-width: 680px;
          font-size: 14px;
          line-height: 26px;
          margin: 0px auto 45px; }
        .home_banner_area .banner_inner .banner_content .banner_map_img {
          text-align: right; }

.banner_btn {
  background: #8490ff ;
  background-size: 200% auto;
  color: #fff;
  margin: 0px 20px;
}
  .banner_btn:hover {
    background-position: right center;
    color: rgb(83, 81, 81); }

.banner_btn_login {
      background: #fff;
      color:#8490ff;
      border-style: solid;
      border-width: 3px;
      border-color: #8490ff;
  
      margin: 0px 30px;
      transition: all 300ms linear 0s; }
      .banner_btn_login:hover {
        background-position: right center;
        color: rgb(83, 81, 81); }

