<div class="home_banner_area">
    <div class="banner_inner">
            <div class="container">
                    <div class="row">
                            <div class="col-lg-6" style="margin-top: 200px">
                                    <img src="../../assets/img/plan-strategique.png" alt=""
                                            class="float-right img-fluid">
                            </div>
                            <div class="col-lg-6" style="margin-top: 200px">
                                    <div class="banner_content">
                                            <h5>Be organized, Be productive</h5>
                                            <h2>Be SCRUM</h2>
                                            <p>SCRUM allows you to organize your projects and prioritize them in a
                                                    fun, flexible and enriching way.</p>
                                            <div class="center">
                                                    <button mat-raised-button (click)="openDialog_register()"
                                                            class="btn banner_btn">SignUp</button> 
                                                    <button mat-raised-button (click)="openDialog_login()"
                                                            class="btn banner_btn_login">Login</button>
                                            </div>
                                    </div>
                            </div>

                    </div>
            </div>
    </div>
</div>