#main-content {
    margin-left: 2%;
}


.wrapper {
	
    display: inline-block;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}

.mt {
	margin-top: 25px;
}

/*Content Panel*/
.content-panel {
	background: #ffffff;
	box-shadow: 0px 3px 2px #aab2bd;
	padding-top: 15px;
    padding-bottom: 5px;
}
.content-panel h4 {
	margin-left: 10px;
}


.btn-theme {
    color: #fff;
    background-color:   #8490ff;
    border-color:  #8490ff;
  }
  .btn-theme:hover,
  .btn-theme:focus,
  .btn-theme:active,
  .btn-theme.active,
  .open .dropdown-toggle.btn-theme {
    color: #fff;
    background-color:  #8490ff;
    border-color:  #8490ff;
  }


.project-text {
    font-weight: 600;
	color: #000000;
}

.icon-button{
    color:  #8490ff;
    background: transparent;
}