<h2 mat-dialog-title >SignUp</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
            
            <mat-form-field [formGroup]="registerForm" class="example-full-width">
              <input matInput placeholder="Username" formControlName="username">
              <mat-error *ngIf="registerForm.hasError('required', 'username')">
                  Username is required *
              </mat-error>
            </mat-form-field>

            <br>

            <mat-form-field [formGroup]="registerForm" class="example-full-width">
              <input matInput placeholder="Email" formControlName="email">

              <mat-error *ngIf="registerForm.hasError('required', 'email')">
                  Email is required *
              </mat-error>

              <mat-error *ngIf="registerForm.hasError('email', 'email')">
                  Please enter a valid email
              </mat-error>


            </mat-form-field>

            <br>

           

            <mat-form-field [formGroup]="registerForm" class="example-full-width">
              <input matInput type="password" placeholder="Password" formControlName="password">

              <mat-error *ngIf="registerForm.hasError('required','password')">
                   Password is required *
              </mat-error>

              <mat-error  *ngIf="registerForm.hasError('minlength', 'password')">
                  Please enter a valid password
              </mat-error>

            </mat-form-field>
            
            <form [formGroup]="registerForm">
              
              <input type="file" (change)="handleImage($event)">
              
            </form>
            
           
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
            <div class= "m-3">
                <button mat-raised-button type="submit" class="banner_btn" (click)="register()">Save</button>
            </div>
            <div class= "m-3">
                <button mat-raised-button (click)="close()">Close</button>
            </div>
</mat-dialog-actions>