#container {
    width: 100%;
    height: 100%;
  }
  
  
  /* MAIN CONTENT CONFIGURATION */
  #main-content {
    margin-left: 2%;
  }
  
  
  .wrapper {
    display: inline-block;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
  }
  
  .form-panel {
  background: #ffffff;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 3px 2px #aab2bd;
  text-align: left;
  }
  
  .btn-theme {
    color: #fff;
    background-color:   #8490ff;
    border-color:  #8490ff;
  }
  .btn-theme:hover,
  .btn-theme:focus,
  .btn-theme:active,
  .btn-theme.active,
  .open .dropdown-toggle.btn-theme {
    color: #fff;
    background-color:  #8490ff;
    border-color:  #8490ff;
  }
  .example-full-width{
    width : 100%;
  }